@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-light-background: #EDF0F5;
    --color-light-accent: #8D98AD;
    --color-text-color: #CDCCD1;
    --color-dark-background: #363643;
    --color-dark-accent: #CACCF2;
    --color-dark-header: #212125;
    --color-purple-accent: #6277D9;
    --color-purple-shade: #8B9BE4;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    background-color: var(--color-dark-header); 
    color: var(--color-text-color); 
    margin: 0; 
}

h2 {
    color: var(--color-purple-shade);
}


body {
    margin: 0;
    background-color: var(--color-dark-background);
    color: var(--color-dark-accent);
}

img {
    border-radius: 150px;
    border: 2px solid var(--color-light-accent);
}

a:link, a:visited{
    color: var(--color-dark-accent);
    text-decoration: none;
}

a:hover {
    color: var(--color-light-accent);
}

svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
}

.profile-left {
    width: 50%;
    float: left;
}

.profile-right {
    width: 50%;
    float: right;
}

.album-img {
    width: 70%;
    height: auto;
}

.card-container {
    width: 300px;
    height: 100%;
    background-color: var(--color-light-background);
}

.container {
    padding: 5%;
}

.name {
    padding: 10%;
    font-size: 5em;
}

.profile-img {
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 5%;
}

.streaming-platform-img {
    width: 50px;
    height: auto; 
    border-radius: 0;
    border: 0;
}


