:root {
    --color-light-background: #EDF0F5;
    --color-text-color: #CDCCD1;
    --color-dark-background: #363643;
    --color-dark-accent: #CACCF2;
    --color-dark-header: #212125;
    --color-purple-accent: #6277D9;
    --color-purple-shade: #8B9BE4;
    --color-slider-checked: rgb(42 143 42);
    --color-slider-background: #ccc;
    --color-slider-forground: #fff;
    --time-slider-transition: 300ms;

    --primary-background: #ffffff;
    --primary-color: #3176b3;
    --primary-text: var(--primary-color);
    --primary-accent: #8D98AD;
    --secondary-color: #cfd8dc;
    --secondary-text: #252525;
    --link-text: #036ebe;
    --error-text: #c00300;
    --disabled: #cfd8dc;
}

.light-mode {
    --primary-background: #ffffff;
    --primary-color: #3176b3;
    --primary-text: var(--primary-color);
    --primary-accent: #8D98AD;
    --secondary-color: #cfd8dc;
    --secondary-text: #252525;
    --link-text: #036ebe;
    --error-text: #c00300;
    --disabled: #cfd8dc;
}

.dark-mode {
    --primary-background: #262626;
    --primary-color: #3574b4;
    --primary-text: #ffffff;
    --primary-accent: #707b8f;
    --secondary-color: #3f4754;
    --secondary-text: #cfd8dc;
    --link-text: #398EEA;
    --error-text: #FE3D39;
    --disabled: #cfd8dc;
}

