:root {
    --color-light-background: #EDF0F5;
    --color-light-accent: #8D98AD;
    --color-text-color: #CDCCD1;
    --color-dark-background: #363643;
    --color-dark-accent: #CACCF2;
    --color-dark-header: #212125;
    --color-purple-accent: #6277D9;
    --color-purple-shade: #8B9BE4;
    --color-slider-border: #11b059;
    --color-slider-transition: 300ms;
    --color-slider-button: #5e7d75;
}
  
  body.dark-mode {
    --color-background-page: rgb(3, 69, 2);
    --color-text: rgb(240, 240, 223);
    --color-background-card: black;
    --color-accent: var(--color-accent-inverted);
    --color-text-control: rgb(51 51 51);
    --color-text-control-inverted: var(--color-background-page);
  }